@font-face {
    font-family: 'Old English Five';
    src: url("../fonts/OldEnglishFive-axyVg.ttf");
} 

* {
    font-family: 'Old English Five';
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto, auto;
}

body{
    padding-left: 15%; 
    padding-top: 1%; 
    padding-right: 15%;
}